<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h3 class="welcome-msg">Welcome to the customers Route</h3>
    <%- include('./partials/nav.ejs') %>
    <h3>Choose a customer below to view their details</h3>
    <ul>
      <% if (customers.length === 0) { %>
      <h3>No customers found</h3>
      <% } else { customers.forEach( (customer) => { %>
      <div class="customer-info">
        <a href="/customers/<%= customer.customer_id %>" class="customer-link"
          ><li><%= customer.first_name %> <%= customer.last_name %></li></a
        >
        <a href="/customers/<%= customer.customer_id %>/edit/" class="inline"
          >Edit</a
        >
      </div>
      <% }) } %>
    </ul>

    <!-- Form -->
    <form action="/customers" method="post">
      <h3>Add Customer</h3>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required /> <br />
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required /> <br />
      <br />
      <input type="submit" value="Add Customer" />
    </form>
    <br />
    <h3>
      To retrieve a customers details<br />
      enter their ID in the URL<br />
      e.g. localhost:3000/customers/21
    </h3>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
