<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h3 class="page-title">Customer Details Page</h3>
    <p>First Name: <%= theCustomer.first_name %></p>
    <p>Last Name: <%= theCustomer.last_name %></p>
    <p>Email: <%= theCustomer.email %></p>
    <p>Is Member: <%= theCustomer.has_membership %></p>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
