<html lang="en">
  <%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>

  <p><b>Are you sure you want to delete the customer?</b></p>

  <form action="/customers/<%= id %>?_method=DELETE" method="post">
    <label for="first_name">First Name:</label>
    <input
      type="text"
      id="first_name"
      name="first_name"
      value="<%= first_name %>"
      readonly
    />
    <label for="last_name">Last Name:</label>
    <input
      type="text"
      id="last_name"
      name="last_name"
      value="<%= last_name %>"
      readonly
    />
    <input type="submit" value="DELETE" />
  </form>
</html>
